@media (min-width: 991.98px) {
  .clock {
    position: absolute;
    left: calc(50% - 500px / 2);
    top: calc(50% - 300px / 2 + 239px);

    font-size: 100px;
    line-height: 150px;
  }

  .animated-clock {
    position: absolute;
    width: 150px;
    height: 150px;
    top: calc(50% - 150px / 2 + 302px);
  }

  .alarm {
    position: absolute;
    left: calc(50% - 400px / 2 - 370px);
    top: calc(50% - 150px / 2 + 450px);

    font-size: 70px;
    line-height: 105px;
  }

  .stopwatch {
    position: absolute;
    left: calc(50% - 400px / 2);
    top: calc(50% - 150px / 2 + 527px);

    font-size: 70px;
    line-height: 105px;
  }

  .timer {
    position: absolute;
    left: calc(50% - 400px / 2 + 370px);
    top: calc(50% - 150px / 2 + 450px);

    font-size: 70px;
    line-height: 105px;
  }
  .alarm:hover,
  .stopwatch:hover,
  .timer:hover {
    transition: 0.5s;
    font-size: 80px;
    color: #eed971ff;
  }

  .clock:hover {
    transition: 0.5s;
    font-size: 110px;
  }
  .animated-clock::after {
    height: calc(150px / 2 - 10px);
  }
  .animated-clock::before {
    top: 30px;
    height: calc(150px / 2 - 30px);
  }
}

@media (max-width: 1005px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 170px 318px;
  }
  .clock {
    flex: none;
    order: 0;
    flex-grow: 0;

    font-size: 75px;
  }
  .animated-clock {
    flex: none;
    order: 1;
    flex-grow: 0;

    width: 100px;
    height: 100px;
  }
  .alarm {
    flex: none;
    order: 2;
    flex-grow: 0;

    font-size: 50px;
    line-height: 150px;
  }
  .timer {
    flex: none;
    order: 3;
    flex-grow: 0;

    font-size: 50px;
    line-height: 100px;
  }
  .stopwatch {
    flex: none;
    order: 4;
    flex-grow: 0;

    font-size: 50px;
  }
  .alarm:hover,
  .stopwatch:hover,
  .timer:hover {
    transition: 0.5s;
    font-size: 60px;
    color: #eed971ff;
  }

  .clock:hover {
    transition: 0.5s;
    font-size: 85px;
  }

  .animated-clock::after,
  .animated-clock::before {
    width: 4px;
    top: 15px;
  }
  .animated-clock::after {
    height: calc(100px / 2 - 10px);
  }
  .animated-clock::before {
    top: 25px;
    height: calc(100px / 2 - 20px);
  }
}
