body {
  position: relative;
  width: auto;
  height: auto;
  background: #1e1e1e;
  overflow: hidden;
}

.text-decoration {
  text-decoration: none;
}

.clock {
  width: 500px;
  height: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  text-align: center;

  color: #ffa500;
}

.alarm {
  width: 400px;
  height: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  text-align: center;

  color: #ffffff;
}

.stopwatch {
  width: 400px;
  height: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  text-align: center;

  color: #ffffff;
}

.timer {
  width: 400px;
  height: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  text-align: center;

  color: #ffffff;
}

.animated-clock-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-clock {
  position: relative;
  border: 5px solid #ffa500;
  background: #1e1e1e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-clock:after,
.animated-clock:before {
  content: "";
  position: absolute;
  width: 6px;
  background: #ffa500;
  border-radius: 10px;
  top: 10px;
  animation: clockAnimation 5s infinite linear;
  transform-origin: center calc(100% - 5px);
}

.animated-clock:before {
  animation-duration: 15s;
}

@keyframes clockAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
