body{
    position: relative;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    background: #1E1E1E;
}

.clock {
    position: absolute;
    width: 500px;
    height: 200px;
    left: 470px;
    top: 198px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 150px;
    text-align: center;
    
    color: #FFA500;
    
}

.alarm{
    position: absolute;
width: 400px;
height: 150px;
left: 161px;
top: 473px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 105px;
text-align: center;

color: #FFFFFF;
}

.stopwatch{
    position: absolute;
width: 400px;
height: 150px;
left: 520px;
top: 550px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 105px;
text-align: center;

color: #FFFFFF;
}

.timer{
    position: absolute;
width: 400px;
height: 150px;
left: 872px;
top: 473px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 105px;
text-align: center;

color: #FFFFFF;
}